#btn-franceconnect {
text-decoration: none;
width: 216px;
height: 60px;
max-width: 100%;
background-image: url(../images/FC-connect-button.svg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-color: #000091;
display: block;
border: 1px solid #000091;
border-radius: 3px !important;
margin: auto;
color: transparent;
}

#btn-franceconnect:hover {
background-color: #0000DF;
}

#fc-prefix, #fc-suffix {
    text-align: center;
}